%script
  var passphrase_server_hash = '#{@seed}';
%h2
  %a{:name => "description"} Mais qu'est-ce que c'est donc ?
%p
  :markdown
    Des [gens intelligents](#inspiration) ont prouvés qu'un mot de passe de quatres mots courants est plus facile à retenir pour un être humain et plus difficile à trouver pour une machine qu'un mot de passe court avec de la ponctuation et des caractères spéciaux.
%p
  :markdown
    Cet outil permet de générer de tels mots de passe, à partir d'un dictionnaire de mots courants. La première ligne montre le mot de passe avec les mots détachés, afin de permettre une meilleure compréhension, la deuxième ligne montre le mot de passe sans espace pour pouvoir copier-coller.
%h2
  %a{:name => "generator"} Le générateur
#generator
  #result
    %p
      %code#passphrase_result
    %p
      %code#passphrase_short_result
    %a.button{:onclick => 'window.passphrase_gen()'}
      %i.fas.fa-sync
      Générer
    %script
      window.passphrase_gen()
