!!! 5
%html{:lang => "fr"}
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => 'stylesheet', :href => assets_prefix + (stylesheet_path 'application')}
    %link{:rel => "stylesheet", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :crossorigin => "anonymous"}
    %script{:src => assets_prefix + (javascript_path 'passphrase')}
    %title
      Générateur de mots de passe
  %body
    #wrapper
      #header
        %h1
          %a{:name => "title"} Générateur de mots de passe
      #page
        = (yield).force_encoding('utf-8')
      #footer
        #source_code
          %h2
            %a{:name => "source_code"} Code source
          %p
            :markdown
              Le code source est accessible sur [gitlab](https://gitlab.com/gigapec/password-generator) sous licence GPLv3.
        #warranty
          %h2
            %a{:name => "warranty"} Conditions d'utilisation
          %p
            :markdown
              Ce service est fourni « tel quel » sans condition ou garantie d'aucune sorte (y compris toute garantie implicite concernant la qualité satisfaisante, la convenance à un usage particulier ou la conformité à la description donnée). Vous reconnaissez et convenez que votre utilisation du service est à vos propres risques et périls. Dans les limites maximales permises par la loi, les administrateurs de passphra.se ne saurait être tenus responsable à votre égard ou à l'égard de quiconque, de tout dommage ou perte subie, y compris tout dommage direct, indirect, matériel, moral, corporel, consécutif, spécial, punitif, exemplaire, accessoire, ou autres, ainsi que toute perte de profit, de revenus, de gains ou d’opportunité, et ce même si informé de la possibilité de tels dommages ou de la possibilité que de tels dommages soient raisonnablement prévisibles.
        #inspiration
          %h2
            %a{:name => "inspiration"} Inspiration
          %p
            :markdown
              Cette page ainsi que le code source sont inspirés de [passphra.se](http://passphra.se) et [xkcd](http://xkcd.com/936/).
    #copyright
      %p
        Copyright (c) 2012 Académie de Grenoble.
